.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: auto;
    max-height: calc(3 * 4rem);
}